<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Nagano Cake</a>
        </div>

        <!--ログインユーザー名表示  -->
        <!-- <% if end_user_signed_in? %> -->
          <!-- <%= @end_user.first_name %> -->
        <!-- <% end %> -->

        <ul class="nav navbar-nav navbar-right">
         <% if end_user_signed_in? %>
          <li><a href="#">マイページ</a></li>
          <li><a href="#">商品一覧</a></li>
          <li><a href="#">カート</a></li>
          <li><a href="#">ログアウト</a></li>
         <% else %>
          <li class=""><%= link_to 'About', about_path %></li>
          <li><a href="#">商品一覧</a></li>
          <li class=""><%= link_to '新規登録', new_end_user_registration_path %></li>
          <li class=""><%= link_to 'ログイン', new_end_user_session_path %></li>
         <% end %>
        </ul>
      </div>
    </nav>
   <%= yield %>
  </body>
</html>
